* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

